
{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  /* Custom styles for better layout */
  .article-card {
            max-width: 330px; /* Limit card width */
        }
        .article-card img {
            width: 100%;
            height: 220px;
        }
</style>
<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Mening blogim</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{% static 'images/illustrations/page-title.png' %}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{% static 'images/illustrations/leaf-pink-round.png' %}" alt="illustrations" class="bg-shape-2">
  <!-- <img src="{% static 'images/illustrations/dots-cyan.png' %}" alt="illustrations" class="bg-shape-3"> -->
  <img src="{% static 'images/illustrations/leaf-orange.png' %}" alt="illustrations" class="bg-shape-4">
  <img src="{% static 'images/illustrations/leaf-yellow.png' %}" alt="illustrations" class="bg-shape-5">
  <img src="{% static 'images/illustrations/dots-group-cyan.png' %}" alt="illustrations" class="bg-shape-6">
  <img src="{% static 'images/illustrations/leaf-cyan-lg.png' %}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<!-- blog -->

<div class="container mt-5">
  {% if messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <ul class="messages mb-0">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div class="d-flex flex-wrap justify-content-center">
      {% for article in articles %}
      <div class="card m-3 article-card">
          <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
          <div class="card-body">
              <h5 class="card-title" style="display: flex;justify-content: center;align-items: center;">{{ article.title }}</h5>
              <p class="article-meta">{{ article.create_data|date:"F j, Y" }} </p>
              <p class="card-text">{{ article.description|truncatewords:8 }}</p>
              <a href="{% url 'article-detail' article.id %}" class="btn btn-primary">Maqolaga o'tish</a>
          </div>
      </div>
      {% endfor %}

  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- /blog -->

<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Mening mijozlarim</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="client-logo-slider d-flex align-items-center">
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-1.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-2.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-3.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-4.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-5.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-1.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-2.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-3.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-4.png' %}" alt="client-logo"></a>
          <a href="#" class="text-center d-block outline-0 p-4"><img class="d-unset img-fluid"
              src="{% static 'images/clients-logo/client-logo-5.png' %}" alt="client-logo"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /clients -->



{% endblock content %}